.pokedex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  background-color: var(--color-UI5);
  box-shadow: 1px 1px 1rem var(--color-UI5);
  color: var(--color-white);
  padding: 2rem;
  border-radius: var(--border-rounded);
  transition: all 500ms ease-in-out;

  &__photo {
    width: 20vw;
    border-radius: var(--border-rounded);
    background-color: var(--color-UI4);
    box-shadow: 1px 1px 1rem var(--color-black);
    border: 2px solid black;
    margin-bottom: 1rem;
    transition: all 500ms ease-in-out;
  }

  &__name {
    margin: 0;
    margin: 0.25rem;
    font-size: 2.5rem;
    text-transform: uppercase;
    transition: all 500ms ease-in-out;
  }
  &__id {
    margin: 0;
    text-align: center;
    transition: all 500ms ease-in-out;
  }
}
